* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #969B9F;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCC;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: lightblue;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: lightblue;
}


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
    font-family: 'Roboto', sans-serif;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 10pt;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1000;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*tooltip positioning right*/

.tooltip .tooltiptext {
    top: -5px;
    right: 150%;
}


/*tooltip arrow positioning left*/

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 30%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

main {
    padding: 25px;
    width: 80%;
    margin: 30px auto;
    max-width: 1000px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}

.main-half-width {
    width: 40%;
    max-width: 400px;
    text-align: center;
}

.column {
    display: inline-block;
}

.float-right {
    float: right;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 10px;
}

th,
td {
    text-align: left;
    padding: 6px;
}

th {
    color: #6D7296;
    background-color: #EFC43F;
    padding: 10px;
}

td {
    color: #236C3B;
    border-right: 1px solid #CCC;
    padding: 10px;
}

td:first-child {
    border-left: 1px solid #CCC;
}

th .instruction {
    font-size: 15px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-center-cell {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Patrick Hand', cursive;
    /*    font-family: 'Neucha', cursive;*/
}

h2 {
    color: #0E4EB4;
}

h3 {
    color: #C01C17;
    padding-top: 15px;
    padding-bottom: 15px;
}

input,
select,
button {
    border: 1px solid #0E4EB4;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 15px;
    color: orange;
}

button {
    background-color: transparent;
    color: #0F3056;
}

button:hover {
    color: black;
}

label {
    display: block;
    margin: 10px;
}

.sm-btn {
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 15px;
}

.sm-input {
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 7px;
    width: 58px;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

header {
    width: 100%;
    background-color: #4B83D0;
    color: #EFC43F;
}

header .logo-wrapper,
header .menu-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

header .logo-wrapper {
    width: 79%;
    padding-left: 15px;
}

header .logo-wrapper sup {
    font-size: 57%;
}

header .logo-wrapper h1 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
}

header .logo-wrapper h3 {
    font-size: 22px;
    text-align: left;
    color: #EFC43F;
}

header .menu-wrapper h4 {
    font-size: 21px;
    text-align: right;
    padding-right: 15px;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

main h1 {
    font-size: 30px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

main h3 {
    font-size: 25px;
    text-align: center;
}

main h4 {
    font-size: 20px;
}

main h5 {
    font-size: 17px;
}

main h6 {
    font-size: 15px;
}

.login-form-wrapper input,
.signup-form-wrapper input {
    width: 100%;
    margin-bottom: 20px;
}

.login-form-wrapper button,
.signup-form-wrapper button {
    width: 65%;
    margin-top: 45px;
    margin-bottom: 35px;
}

.login-form-wrapper .login-status-question {
    padding-top: 25px;
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    width: 100%;
    background-color: #4B83D0;
    color: #EFC43F;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0px;
}

footer sup {
    font-size: 60%;
}


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
    body {
        color: blue;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
}
